<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>My Hikes</title>
</head>

<body>
	<%- include('../partials/_navbar.ejs') %>
	<main>
	<div class="card-parent">	
		<div class="card-child">
	<h2>My Hikes</h2>
		<ul>
			<% hikes.forEach(hike=> { %>
				<li><a href="/hikes/<%= hike._id %>">
						<%= hike.trailName %>
					</a> on <%= new Date(hike.dateHiked).toLocaleDateString('en-US', {year: 'numeric', month: 'short', day: '2-digit'}) %>
				</li>
				<% }) %>
		</ul><br><br>
		<a href="/hikes/new">Log a New Hike</a>
	</div>
</div>
</main>
</body>

</html>