<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>

  <nav>
    <div class="treelogo">
      <img src="/stylesheets/images/pngfind.com-pine-tree-silhouette-png-47958.png" alt="">
    </div>
    <div class="navlist">
    <a href="/home">Home</a>
    <% if(user) { %>
      <a href="/hikes">Hike Log</a>
      <a href="/trips">My Trips</a>
      <a href="/auth/sign-out">Sign Out</a>
      <% } else { %>
        <a href="/auth/sign-in">Sign In</a>
        <a href="/auth/sign-up">Sign Up</a>
        <% } %>
      </div>
  </nav>

</body>

</html>