<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <main class="main-homepage">
  <div class="welcome-tiles">
    <div class="first-tile-child">
    <h1>Welcome to <br> Hike Logger</h1>
          <a class="auth-buttons" href="/auth/sign-in">Log In</a>
          <a class="auth-buttons" href="/auth/sign-up">Create Account</a>
        </div>
        <div class="second-tile-child">
        <img id="cover-image"
          src="https://images.unsplash.com/photo-1609261465412-a9209a43b5b0?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="hiking trail with snow">
        </div>
      </div>
    </main>
</body>

</html>