@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Young+Serif&display=swap');

body {
    background: #F2F0D5;
    background-repeat: no-repeat;
    background-size: cover;
    color: #594B20;
    text-align: center;
    height: 100vh;
    font-family: Merriweather, serif;
    box-sizing: border-box;
}

h1 {
    font-family: Young Serif, serif;
    font-size: 2em;
    margin: 10;
}

.main-homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-tiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch; 
    align-items: center;
    margin-top: 100px;
    padding: 0;
    width: 64vw;
    border: 5px solid #8C7A1C
}

.first-tile-child, .second-tile-child {
    background-color: #94A69F;
    width: 32vw;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 0; 
    margin: 0; 
}

.first-tile-child {
    background-color: #94A69F;
    width: 32vw;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.second-tile-child {
    width: 32vw;
    height: 350px;
    justify-content: center;
}

#cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* margin-top: 40px; */
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #004127;
    padding: 5px;
    justify-content: space-between;
    background-color: #594B20;
    top: 0;
}

nav .treelogo img {
    height: 60px;
    padding: 5px 15px;
}

nav a {
    color: #F2F0D5;
    padding: 10px;
    /* border-radius: 10px; */
    text-decoration: none;
    /* font-weight: 600; */
}

nav a:link {
    color: #F2F0D5;
  }

nav a:visited {
    color: #F2F0D5;
  }

.dashboard-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px
}

.dashboard-parent {
    display: flex;
    justify-content: center;
    border: 4px solid #8C7A1C;
    width: 20%;
    background-color: #94A69F;
    color: #594B20
}

.dashboard-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
    padding: 10px;
    margin: 20px;    
} 

.dashboard-child h3 {
    font-size: 20px;
}

.dashboard-child ul {
    padding-left: 0;
}

.dashboard-child li {
    list-style-type:circle;
}

main {
    display: flex;
    justify-content: center;
}

.card-parent {
    display: flex;
    justify-content: center;
    border: 4px solid #8C7A1C;
    width: 50%;
    background-color: #94A69F;
    color: #594B20;
    margin-top: 30px;
}

.card-child {
    padding: 20px;
    text-align: center;
}

.card-child li {
    list-style-type: none;
}

.card-child a:link {
    color: #F2F0D5
}

.card-child a:visited {
    color: #F2F0D5
}

a {
    color: #F2F0D5;
    text-decoration: none;
}

/* Specific link styles for the body */
body a {
    color: #F2F0D5;
}

body a:link,
body a:visited,
body a:hover,
body a:active {
    color: #F2F0D5;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    max-width: 300px;
    align-items: center;
    border: 3px solid #8C7A1C;
    background-color: #94A69F;
    padding: 40px;
    color:#594B20;
    font-weight: 600;
}

form input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #004127;
}

li .hike-list {
    list-style-type: circle;
}



.auth-buttons {
    border: 1px solid #004127;
    padding: 15px;
    margin: 10px;
    font-family: Merriweather, serif;
    border-radius: 5px;
    width: 30%;
    background-color: #F2F0D5;
}

 .delete-button {
    padding: 0px;
    font-family: Merriweather, serif;
    border-radius: 5px;
    border: none;
}

