<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>My Trips</title>
</head>

<body>
	<%- include('../partials/_navbar.ejs') %>
		<h1>My Trips</h1>
		<ul>
			<% trips.forEach(trip=> { %>
				<li><a href="/trips/<%= trip._id %>">
						<%= trip.tripName %>
					</a></li>
				<% }) %>
		</ul>
		<a href="/trips/new">Add a New Trip</a>
</body>

</html>