<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>My Trips</title>
</head>

<body>
	<%- include('../partials/_navbar.ejs') %>
	<main>
	<div class="card-parent">
		<div class="card-child">
	<h2>My Trips</h2>
		<ul>
			<% trips.forEach(trip=> { %>
				<li><a href="/trips/<%= trip._id %>">
						<%= trip.tripName %>
					</a></li>
				<% }) %>
		</ul> <br><br>
		<a href="/trips/new">Add a New Trip</a>
	</div>	
</div>
</main>
</body>

</html>